<nav>
    <div class="navbar-left">
        <a href="">
            <img src="../assets/img/pinterest-brands-solid.svg" alt="personal-web">
        </a>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="blog" class="active-link">Blog</a></li>
            <li><a href="project">My Project</a></li>
            <li><a href="testimonial">Testimonials</a></li>
        </ul>
    </div>
    
    <div class="navbar-right">
        {{#if user }}
        Hello, {{user.username}}
        {{/if}}
        <a href="/login" style="margin-right: 5px;">Login</a>
        <a href="/register" style="margin-right: 20px;">Register</a>
        <a href="#contactForm">Contact Me</a>
    </div>
</nav>