<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="../assets/css/project.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Logo -->
     <link rel="icon" href="../assets/img/pinterest-brands-solid.svg">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body class="poppins-regular">
<!-- Navbar Section -->
{{> navbar}}

<!-- Main Section -->
    <div class="main">
        <div class="main-content">
            <div class="pages">
                <h2>Hi! Welcome to My Page</h2>
                <p class="paragraph">My name is Rendy Zulfan Maulana Rasyid, a fresh graduate Management from Brawijaya University with specialization in Human Resource Management. Have the initiative to change my career orientation from HR to Programming. It's so challenging but i will enjoy the journey before become a fulltack developer, who can build any website with such a variative demand. Programming, for me is not just writing down the code on your Visual Studio Code. It's about solve a problem.</p>
                <div class="skill-set">
                    <h3>Steve Jobs</h3>
                    <p><em>"Everybody should learn to program a computer, because it teaches you how to think."</em>
                        (Semua orang harus belajar pemrograman, karena itu mengajarkan cara berpikir.)</p>
                </div>
                <div class="contact-cv">
                    <p class="getContact">Contact</p>
                    <p class="cv">download CV</p>
                    <a href=""><img src="../assets/img/download-solid.svg" alt=""></a>
                </div>
                <div class="media">
                    <img src="../assets/img/square-instagram-brands-solid.svg" alt="">
                    <img src="../assets/img/linkedin-brands-solid.svg" alt="">
                    <img src="../assets/img/square-twitter-brands-solid.svg" alt="">
                    <img src="../assets/img/square-facebook-brands-solid.svg" alt="">
                </div>
            </div>
            <div class="photoCard">
                <img src="../assets/img/Arzi.jpg" alt="">
                <h3>Rendy Zulfan</h3>
                <p><em>Fullstack Developer</em></p>
            </div>
        </div>
    </div>

<!-- Form Section -->
    <main class="contact-section">
        <form id="contactForm" class="contact-form">
            <h1>Contact Me</h1>
            <div class="form-field">
                <label for="name">Name</label>
                <input id="name" name="name" class="form-input" type="text" placeholder="name" required />
            </div>

            <div class="form-field">
                <label for="email">Email</label>
                <input id="email" name="email" class="form-input" type="email" placeholder="email" required />
            </div>

            <div class="form-field">
                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" name="phoneNumber" class="form-input" type="number" placeholder="phone number" required/>
            </div>
            
            <div class="form-field">
                <label for="subject">Subject</label>
                <input id="subject" name="subject" class="form-input" placeholder="subject" required></input>
            </div>

            <div class="form-field">
                <label for="skill">Skill</label>
                <select id="skill" name="skill" class="form-input" required>
                    <option value="Frontend">Frontend</option>
                    <option value="Backend">Backend</option>
                </select>
            </div>

            <div class="form-field">
                <label class="message-contact" for="message">Your Message</label>
                <textarea id="message" name="message" class="form-input" required></textarea>
            </div>

            <button type="submit" class="form-submit-button">Submit</button>
        </form>
    </main>

    <script src="submitForm.js"></script>
    <!-- <script src="belajar-js.js"></script> -->
    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
    // compile the template
    var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
    // execute the compiled template and print the output to the console
    console.log(template({ doesWhat: "Good Morning!" }));
    </script>
</body>
</html>