* {
    margin: 0px;
    padding: 0px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar Style */
nav {
    background-color: rgb(255, 80, 80);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    color: white;
    background-color: rgb(255, 124, 76);
    padding: 9px;
    border-radius: 5px 5px 5px 5px;
}

.navbar-right a:hover {
    background-color: whitesmoke;
    color: black;
}

.navbar-links {
    display: flex;
    margin-left: 40px;
    gap: 20px;
    list-style: none;
}

.navbar-links .active-link {
    font-weight: bolder;
    color: white;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav img {
    width: 50px;
}

/* Blog Page Styles */
.form-container {
    width: 500px;
}

.blog-form {
    text-align: start;
    margin: 10px 400px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.blog-form h1 {
    text-align: center;
}

.blog-form label {
    font-size: larger;
    letter-spacing: 1px;
    font-weight: 700;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding: 5px;
}

.form-field input{
    padding: 8px;
    border: none;
    background-color: #d7d6d6;
}

.form-field textarea {
    background: #d7d6d6;
    border: none;
}

.input-blog-image-group {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #d7d6d6;
}

.attach-file {
    font-size: 15px;
    font-weight: lighter;
    color: #8d8989;
}

.input-blog-image-group label {
    display: flex;
    align-items: center;
}

.button-group {
    text-align: right;
}

.form-container button {
    margin-top: 30px;
    padding: 8px 20px;
    color: white;
    background-color: orangered;
    border: none;
}

hr {
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
}

/* Blog List */
.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.blog-list {
    width: 80%;
}

.blog-content h1 a {
    text-decoration: none;
    color: black;
}

.blog-content h1 a:hover {
    color: cornflowerblue;
}

.blog-image img {
    width: 240px;
}

.blog-text {
    margin: 0px;
    text-align: justify;
}

.blog-list-item {
    display: flex;
    gap: 20px;
    border: 1px solid #c4c4c4;
    padding: 20px;
}

.btn-group {
    text-align: right;
}

.btn-group .edit-post {
    padding: 5px;
    font-weight: bolder;
}

.btn-group .post-blog {
    padding: 5px;
    font-weight: bolder;
    color: white;
    background-color: orangered;
}